.flip-clock-label{
    display: none !important;
}

.logo-vila{
    height: 160px;
    width: auto;
}

.titulo{
    
    text-transform: uppercase;
    font-size: 50px;
}
.logo-title{
    margin-left: 30px;
}

#final-message{
    font-size: 100px;
    color: #074D07;
}

#row-final{
    margin-top:30px;
}

#main-container{ 
  
   
  
  
 
   
}

body{
   

}